[BASIC]
good-names=y,n,sr

# Regular expression matching correct module names
module-rgx=(([a-z_][A-Za-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$

# Naming hint for module names
module-name-hint=(([a-z_][A-Za-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX,TODO

[pre-commit-hook]
command=custom_pylint
disable=E0401, C0301
